
@{
    ViewBag.Title = "Productos";
}
@model IEnumerable<TiendaVirtualdlandy.Models.Producto>
<h2>Productos </h2>

@if (Model != null)
{
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripción</th>
                <th>Categoria</th>
                <th>Precio</th>
                @if (User.IsInRole("Administrador"))
                {
                    <th>@Html.ActionLink(" + ", "Create", "Producto", null, null)</th>
                }
                <th></th>

                </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.descripcion</td>
                <td>@item.Categoria.descripcion</td>
                <td>@String.Format("{0:C}", item.precio)</td>
                <td>@Html.ActionLink("Agregar Carrito", "Index", "Carrito", new { Id = item.Id }, null)</td>
                @if (User.IsInRole("Administrador"))
                {
                    <td>@Html.ActionLink("Eliminar", "Delete", "Producto", new { Id = item.Id }, null)</td>
                }

            </tr>
            }
        </tbody>
    </table>
}

